.row
  .span6.offset1
    %h1
      About ResponseMonster
    %p
      ResponseMonster is an attempt to replace classroom-based audience response
      systems with open source software.
    %p
      For teachers, ResponseMonster is a way to provide realtime survey/quiz
      questions to students with live data and pretty charts reflecting answers.
      Teachers can create anonymous questions, and can choose to share response data
      with students.
    %p
      For students, ResponseMonster can be accessed from any laptop, personal
      computer, smartphone, or tablet. In the future, we hope to support existing
      clicker hardware.
