- provide(:title, "Sign In")

.row
  .span4.offset5
    #form
      = form_for(:session, url: sessions_path, html: {class: "form-signin"} ) do |f|

        %h2.form-signin.heading
          Sign In
        
        %br
        = f.text_field :email, autofocus: "autofocus", placeholder: "Email Address"

        %br
        %br
        = f.password_field :password, placeholder: "Password"

        %br
        %br
        %input.btn.btn-large.btn-primary{ type: "submit", value: "Sign In" }

    .newUser
      %h3 New user? 
      = link_to "Sign Up!", signup_path, class: "btn btn-large btn-primary"
