%p
  %b Type:
  = @poll.answer_type

%p
  %b Question:
  = @poll.question_text

= link_to 'Edit', edit_course_survey_poll_path(@course, @survey, @poll), class: "btn"
%br
= link_to 'Back', course_survey_path(@course, @survey), class: "btn"
