.subform
  .well
    %fieldset
      = f.label :answer_text
      = f.text_field :answer_text
      %label.checkbox
        Correct Answer?
        = f.check_box :is_right
      = link_to_remove_fields "Remove Answer", f
