@import "bootstrap";

/* Colors */

$lighterGray: #eee;
$lightGray: #999;
$white: #fff;
$grayMediumLight: #eaeaea;
$gray: #555;
$grayDarker: #222;
$errorRed: #900;
$shadowGray: #ccc;
$btngray: #666;
$wellGray: #f0f0f0;

/* Site Wide */

body {
  padding: 81px 10px 10px 10px;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn a {
  color: #000;
  text-decoration: none;
}

btn a:hover {
  color: $btngray;
  background-color: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  border: none;
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-right: 10px;
  padding-top: 9px;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* Form theming */

#form {
  text-align: center;
  margin-left:  150px;
  margin-right: 150px;
  background-color: $grayMediumLight;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* User */

#newUser {
  padding: 40px;
  text-align: center;
}

#error_explanation {
  h2 {
    color: $errorRed;
  }
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $lighterGray;
  box-shadow: 0px 1px 3px $shadowGray;
}

/* Survey */

.answers {
  background-color: $wellGray;
}

.pill-button-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

.pill-button-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Tables */

.wide {
  width: 100%;
}

.half-cell {
  width: 50%;
  padding: 10px;
}
