// Footer
%footer.footer
  = link_to "Response Monster", root_path, class: "brand"
  %ul{ class: "footer-links pull-right" }
    %li= link_to "About", about_path
    %li.muted ·
    %li= link_to "Contact", "#"

